nav{
    background-color: #C12127;
    color: white;
    padding-top: 15px;
    height: 100 px;
}
nav a {
    color: white;
    text-decoration: none;
 }
 .top-left{
    display: inline-block;
    float: left;
    padding: 0;
    margin: 0 20px 0 0;
  }
  
  .top-links li {
    display: inline-block;
    margin: 0 10px;
  }
  header{
      background-image: url(images/city-scape.svg)

  }
  
  .city-scape{
      width: 850px;
      margin :0 auto;
      color:white;
      padding:50px 10px;
     }
   .city-scape a {
       background-color: rgb(240, 146, 51);
       text-decoration: none;
       color: white;
       padding: 10px 10px;
       border-radius: 12px;
 }
 .search-bar {    
}
.search-bar input {     background-color: rgb(31, 82, 111);
    display: inline;
    width: 1150px;
    margin: 0 15px;
    border-color: transparent;
    
   

}
.search-bar a {
    color: white;
    display: inline-block;
    float: right;
    margin: 0 5px 0 0 ;
    text-decoration: none;
}
.search-bar img{
    display: inline-block;
    float: left;
}
#bear-logo {
    float: right;
}
.collaboration{
    border: 1px red solid;
    padding: 15px 270px;
    height:300px;
    margin: 0 auto;
    background-color: rgb(39, 53, 71);

}
.collaboration img, .sub-coll  {
    display: inline-block;
    margin: 0 ;
    

}
.collaboration img{
    float: left;
}
.sub-coll {
    padding: 60px 10px;
    color:white;
}
.sub-coll ul {
    border: 1px red solid; 
mpadding : 30px 10px;
}
.sub-coll a {
    border: 1px green solid; 
    display: inline-block;
    text-decoration: none;
    color: white;
    margin:5px;
}
#button2 {
    border: 1px green solid; 
    background-color: rgb(203, 56, 55);
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
    margin: 5px;
}
  